# Web Framework
fastapi
uvicorn
python-multipart

# Databases & ORM
sqlalchemy
neo4j
chromadb

# Agentic Orchestration
langchain
langchain-core
langchain-groq
langgraph
langchain-text-splitters
langchain-huggingface
# Cloud Embeddings
langchain-community

# Cloud OCR & Document Parsing
boto3
PyMuPDF

# Agent Tools
duckduckgo_search

# Utilities
python-dotenv
